<div class="<%= weather.forecast_presentation_class(time) %>">
  <% weather.forecasts(time).each do |forecast| %>
    <div class="<%= weather.forecast_column_class(time) %>">
      <div class="weather card">
        <header class="card-header">
          <figure class="image is-64x64">
            <%= forecast.icon %>
          </figure>
          <h4 class="card-header-title is-size-3">
            <%= forecast.avg_temp %>
          </h4>
        </header>
        <div class="card-content">
          <div class="content">
            <h3 class="is-3"><%= forecast.date %></h3>
            <ul>
              <li><%= forecast.class.label_max_temp %>
                <%= forecast.max_temp %>
              </li>
              <li>
                <%= forecast.class.label_min_temp %>
                <%= forecast.min_temp %>
              </li>
              <% if forecast.snow? %>
                <li>
                  <%= forecast.odds_of_snow %>
                  <%= forecast.class.label_odds_of_snow %>
                </li>
                <li>
                  <%= forecast.total_snowfall %>
                  <%= forecast.class.label_total_snowfall %>
                </li>
              <% end %>
              <% if forecast.rain? %>
                <li>
                  <%= forecast.odds_of_rain %>
                  <%= forecast.class.label_odds_of_rain %>
                </li>
                <li>
                  <%= forecast.total_precipitation %>
                  <%= forecast.class.label_total_precipitation %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
