<%= simple_form_for(object, {
                      wrapper: :horizontal_form,
                      as: :weather_location,
                      method: :get,
                      url: weather_location_path
                    }) do |f| %>
  <% if object.errors.any? %>
    <article id="error_explanation" class="message is-danger">
      <div class="message-header">
        The form contains <%= pluralize(object.errors.count, 'error') %>.
      </div>
      <ul class="message-body">
        <% object.errors.each do |msg| %>
          <li><%= msg[1] %></li>
        <% end %>
      </ul>
    </article>
  <% end %>

  <div class="columns">
    <div class="column">
      <div class="container">
        <div class="field-group">
          <% object.class.modify_keys.each do |key| %>
            <%= f.input(key, object.field_opts(key)) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column"><%= f.button :submit, t('actions.submit'), class: 'button is-primary' %></div>
  </div>
<% end %>
